body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: silver;
}

button {
    width: 3.5em;
    height: 3.5em;
    border-radius: 2em;
    border: none;
    text-align: center;
    background-color: #393E46;
    color: #F5F5F5;
    margin: 0;
    font-size: 20px;
}

.operator,
.special,
#equals {
    background-color: orange;
    color: #222831;
}

.highlighted {
    background-color: silver;
    color: #270082;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    gap: 5px;
}

#display {
    background-color: black;
    text-align: end;
    color: #F5F5F5;
    height: 80px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
}

#mainContainer {
    margin-top: 200px;
    background-color: #222831;
    padding: 10px;
    border-radius: 2px;
    width: 320px;
    box-shadow: 10px 10px 3px rgb(49, 49, 49);
}

#bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#decimalPoint {
    flex: 2;
}

.footer {
    font-size: 6rem;
    background-color: 3a4750;
    margin-top: auto;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #mainContainer {
        margin-top: 0px;
        width: 300px;
    }
}