body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1A40;
}

button{
    width: 45px;
    height: 45px;
    border-radius: 70px;
    border: none;
    text-align: center;
    background-color: #F5F5F5;
    margin: 0;
}



.operator, .special{
    background-color: #270082;
    color: #F5F5F5;
}

.highlighted{
    background-color: #FA58B6;
    color: #270082;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    gap: 5px;
}

#display{
    background-color: #04293A;
    text-align: end;
    color: #FA58B6;
    height: 45px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: end;
}

#mainContainer{
    background-color: #7A0BC0;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}


#bodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#decimalPoint{
    flex: 2;
}

